body {
    font-family: 'Koh Santepheap', sans-serif;  /* Cambia la fuente de todo el cuerpo del documento */
    font-size: 25px; /* Tamaño de fuente global */
    
}
input::placeholder {
    color: rgb(75, 20, 20); /* Color del texto del placeholder */
}
.toggle-password-icon {
    position: 'relative';
    left: '50px';
    top: '50%';
    transform: 'translateY(-50%)';
    cursor: 'pointer';
    color: '#6c757d';
}
.btn-xs {
    padding: 2px 6px;
    font-size: 12px;
  }